<% content_for :headcontent do%>
<script src="/game/home.js" type="text/javascript"></script>
<% end %>
<ul>
	<li><a href="/site/new_game"><%= t "create_new_game" %>  </a></li>
	<% if logged_in? and current_user[:name] == 'kilk' %>
	<li><a href="/admin/games_gen">gen 10 games</a></li>
	<% end %>
</ul>

<% if flash[:error] %>
<div class="error" id="flash">
	<%= flash[:error] %>
</div>
<% end %>
<section id="tables">
	<div class="page-header">
		<h1>Игры</h1>
	</div>
	
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>номер игры</th>
				<th>добавить игрока</th>
				<th>играть/смотреть</th>
				<th>Игроки</th>
				<th>Тип броска</th>
			</tr>
		</thead>
		<tbody>
			<% for gg in @games %>
			<tr>
				<td><%= "#{gg.id} r:#{gg.round}" %></td>
				<td>
					<a href="/game/join/<%= gg.id %>"> <%= t "join" %></a>
					/ <a href="/game/add_player/<%= gg.id %>"><%= t "add bot" %></a>
					
				</td>
				<td>
				<a href="/game/play/<%= gg.id %>"><%= t "play" %></a>
					/ <a href="/game/view/<%= gg.id %>"><%= t "view" %></a>
				</td>
				<td><%= t "players" %>: <%= gg.players.map{ |pl| pl.name  } %></td>
				<td><a href="/game/change_roll_mode/<%= gg.id %>"><%= gg.is_manual_roll_mode ?  t('manual roll') : t('random roll') %></a>
			</td>
		</tr>
		<% end %>
		
	</tbody>
</table>
</section>